{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="card border-primary">
            <div id="grid"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script>
$(function() {
    $("#grid").kendoGrid({
        dataSource: {   
            transport: {   
                read: {
                    url: '/api/import_datas.jsonld'
                },
            },
            schema: {
                total: function(response) {
                    console.log(response);
                    return 504;
                },
                parse: function(response) {
                    console.log(response);
                    return response['hydra:member'];
                }
            }
        },
        toolbar: [ "create", "save", "cancel" ],
        columns: [
            { command: [ "edit", "destroy" ] },
            {"field":"recordId","title":"Record ID","width":"200px"},
            {"field":"title","title":"Title","width":"200px"},
            {"field":"firstName","title":"First Name","width":"200px"},
            {"field":"nickname","title":"Nickname","width":"200px"},
            {"field":"middleName","title":"Middle Name","width":"200px"},
            {"field":"lastName","title":"Last Name","width":"200px"},
            {"field":"suffix","title":"Suffix","width":"200px"},
            {"field":"maiden","title":"Maiden","width":"200px"},
            {"field":"socialClassYear","title":"Social Class Year","width":"200px"},
            {"field":"email","title":"Email","width":"200px"},
            {"field":"secondaryEmail","title":"Secondary Email","width":"200px"},
            {"field":"bio","title":"Bio","width":"200px"},
            {"field":"mobilePhone","title":"Mobile Phone","width":"200px"},
            {"field":"workPhone","title":"Work Phone","width":"200px"},
            {"field":"homePhone","title":"Home Phone","width":"200px"},
            {"field":"preferredPhone","title":"Preferred Phone","width":"200px"},
            {"field":"website","title":"Website","width":"200px"},
            {"field":"homeAddress1","title":"Home Address 1","width":"200px"},
            {"field":"homeAddress2","title":"Home Address 2","width":"200px"},
            {"field":"homeCity","title":"Home City","width":"200px"},
            {"field":"homeState","title":"Home State","width":"200px"},
            {"field":"homeZip","title":"Home Zip","width":"200px"},
            {"field":"homeCountry","title":"Home Country","width":"200px"},
            {"field":"careerPosition","title":"Career Position","width":"200px"},
            {"field":"currentEmployer","title":"Current Employer","width":"200px"},
            {"field":"careerPastPositions","title":"Career Past Positions","width":"200px"},
            {"field":"workAddress1","title":"Work Address 1","width":"200px"},
            {"field":"workAddress2","title":"Work Address 2","width":"200px"},
            {"field":"workCity","title":"Work City","width":"200px"},
            {"field":"workState","title":"Work State","width":"200px"},
            {"field":"workZip","title":"Work Zip","width":"200px"},
            {"field":"workCountry","title":"Work Country","width":"200px"},
            {"field":"facebookLink","title":"Facebook Link","width":"200px"},
            {"field":"linkedinLink","title":"LinkedIn Link","width":"200px"},
            {"field":"twitter","title":"Twitter","width":"200px"},
            {"field":"dobYear","title":"DOB Year","width":"200px"},
            {"field":"dobMonth","title":"DOB Month","width":"200px"},
            {"field":"dobDay","title":"DOB Day","width":"200px"},
            {"field":"gender","title":"Gender","width":"200px"},
            {"field":"a1Field1","title":"A1 Field 1","width":"200px"},
            {"field":"a1Years","title":"A1 Year(s)","width":"200px"},
            {"field":"a1Field2","title":"A1 Field 2","width":"200px"},
            {"field":"a2Field1","title":"A2 Field 1","width":"200px"},
            {"field":"a2Years","title":"A2 Year(s)","width":"200px"},
            {"field":"a2Field2","title":"A2 Field 2","width":"200px"},
            {"field":"a3Field1","title":"A3 Field 1","width":"200px"},
            {"field":"a3Years","title":"A3 Year(s)","width":"200px"},
            {"field":"a3Field2","title":"A3 Field 2","width":"200px"},
            {"field":"tags","title":"Tags","width":"200px"},
            {"field":"adminNotes","title":"Admin Notes","width":"200px"},
            {
                field: "customFields", 
                title: "Custom fields", 
                width: "300px",
                template: function(dataItem) {
                    var customFields = dataItem.customFields;
                    var view = '';

                    if (customFields && customFields.length) {
                        customFields.forEach(function(obj) {
                            view += '<div><b>' + obj.key + ':</b> ' + obj.value + '</div>';
                        });
                    }

                    return view;
                }
            }
        ],
        pageable: true,
        serverPaging: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        editable: true
    });
});
</script>
{% endblock %}
