{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-8">
        <div class="card border-primary">
                <div id="grid"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card border-primary">
            <div class="card-header">
                Import user data
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{{ path('import_new') }}">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="file" required>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        Import
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script>
$(function() {
    $("#grid").kendoGrid({
        dataSource: {   
            transport: {   
                read: {
                    url: '/api/imports.jsonld',
                }
            },
            schema: {
                parse: function(response) {
                    return response['hydra:member'];
                },
                total: function(response) {
                    return response['hydra:totalItems'];
                }
            }
        },
        columns: [
            { field: "id", title: 'ID' },
            { field: "filename", title: 'File', template: '<a href="/imports/#= id#">#= filename#</a>' },
            { field: "status", title: 'Status' },
            { field: "createdAt", title: 'Created at' }
        ],
        serverPaging: true,
        pageable: true
    });
});
</script>
{% endblock %}
